<select [(ngModel)]="selectedArticle">
  <option *ngFor="let article of articles$ | async" [ngValue]="article">{{article.libelle}}</option>
</select>
<input #inputQuantite>
<button (click)="add(inputQuantite.value, selectedArticle)">add</button>

<table border="1">
  <tr *ngFor="let ligne of achats">
    <td>{{ligne.article.libelle}}</td>
    <td>{{ligne.quantite}}</td>
    <td>
      <button (click)="supprimer(ligne)">supprimer</button>
    </td>
  </tr>
</table>

<button (click)="acheter()">Acheter</button>
